<%= @stations.count %> Results Displayed
<% @stations.each do |station| %>
  <ul class="station">
    <li class="name" >Station Name: <%= station.name %></li>
    <li class="address">Station Address: <%= station.address %></li>
    <li class="fuel_types">Station Fuel Types: <%= station.fuel_types %></li>
    <li class="access_times">Station Access Times: <%= station.access_times %></li>
  </ul>
<% end %>
